version: "3.9"

services:
  api:
    build: .
    container_name: sme-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: sme-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kc071203
      POSTGRES_DB: sme_finance
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
